<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="Vba32SS.Vba32SettingsImplementation, Vba32SS" 
                   objectUri="Vba32SS.rem" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>