<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=K-238A-ROE\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="PLANT43_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="PLANT47_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=C:\SHOP\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="PLANT12_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=C:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="PLANT20_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=C:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="BMS_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      providerName="System.Data.OleDb" />
    <add name="OdbcServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};DBQ=|DataDirectory|URP_DB.mdb" />
    <add name="SiteAccounts" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\URP_DB.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WcfGetDataLib.GetDataService" behaviorConfiguration = "GetDataServiceMEXBehavior">
        <endpoint address="http://localhost:8080/GetDataService" binding="basicHttpBinding" contract="WcfGetDataLib.IData"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:8080/GetDataService" />
          </baseAddresses>
        </host>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GetDataServiceMEXBehavior" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
