*.user
/.bin
*.ncb
*.suo
/src/VbaCC_Msg/MSG00001.bin
/src/VbaCC_Msg/MSG00002.bin
/src/VbaCC_Msg/Messages.h

*.aps
*.cache


*.pdb
*.sdf
*.res
*.opensdf
*.ipch

/make/WebConsole.sln.DotSettings
/src/DB/VbaControlCenterDB/VbaControlCenterDB.dbmdl
/make/packages/

/src/WebConsole/bin/ARM2_dbcontrol.dll
/src/WebConsole/bin/Common.dll
/src/WebConsole/bin/Newtonsoft.Json.dll
/src/WebConsole/bin/Newtonsoft.Json.xml

/src/DB/VbaControlCenterDB/VbaControlCenterDB.dbproj.schemaview
/src/Tests/Integration/IntegrationTests/obj/Debug/build.force

*.force

/src/Tests/Unit/ARM2_dbcontrol.UnitTests/Debug

/src/Tests/Unit/ARM2_dbcontrol.UnitTests/Release

/src/WebConsole/bin/AjaxControlToolkit.dll
/src/WebConsole/bin/AjaxMin.dll
/src/WebConsole/bin/CustomControls.dll
/src/WebConsole/bin/Filters.dll
/src/WebConsole/bin/HtmlAgilityPack.dll
/src/WebConsole/bin/HtmlAgilityPack.xml
/src/WebConsole/bin/Microsoft.Data.Edm.dll
/src/WebConsole/bin/Microsoft.Data.Edm.xml
/src/WebConsole/bin/Microsoft.Data.OData.dll
/src/WebConsole/bin/Microsoft.Data.OData.xml
/src/WebConsole/bin/Microsoft.WindowsAzure.Configuration.dll
/src/WebConsole/bin/Microsoft.WindowsAzure.Storage.dll
/src/WebConsole/bin/Microsoft.WindowsAzure.Storage.xml
/src/WebConsole/bin/RemoteOperations.dll
/src/WebConsole/bin/Settings.dll
/src/WebConsole/bin/System.Spatial.dll
/src/WebConsole/bin/System.Spatial.xml
/src/WebConsole/bin/Tasks.dll
/src/WebConsole/bin/ar/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/cs/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/de/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/de/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/de/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/de/System.Spatial.resources.dll
/src/WebConsole/bin/es/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/es/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/es/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/es/System.Spatial.resources.dll
/src/WebConsole/bin/fr/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/fr/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/fr/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/fr/System.Spatial.resources.dll
/src/WebConsole/bin/he/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/hi/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/it/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/it/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/it/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/it/System.Spatial.resources.dll
/src/WebConsole/bin/ja/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/ja/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/ja/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/ja/System.Spatial.resources.dll
/src/WebConsole/bin/ko/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/ko/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/ko/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/ko/System.Spatial.resources.dll
/src/WebConsole/bin/nl/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/pl/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/pt/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/ru/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/ru/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/ru/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/ru/System.Spatial.resources.dll
/src/WebConsole/bin/tr-TR/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/zh-CHS/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/zh-CHT/AjaxControlToolkit.resources.dll
/src/WebConsole/bin/zh-Hans/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/zh-Hans/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/zh-Hans/System.Spatial.resources.dll
/src/WebConsole/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
/src/WebConsole/bin/zh-Hant/Microsoft.Data.OData.resources.dll
/src/WebConsole/bin/zh-Hant/System.Spatial.resources.dll
/make/packages
/src/WebApplication1/obj
