*.user
/.bin
*.ncb
*.suo
/src/VbaCC_Msg/MSG00001.bin
/src/VbaCC_Msg/MSG00002.bin
/src/VbaCC_Msg/Messages.h

*.aps
*.cache


*.pdb
*.sdf
*.res
*.opensdf
*.ipch

/make/WebConsole.sln.DotSettings
/src/DB/VbaControlCenterDB/VbaControlCenterDB.dbmdl
/make/packages/

/src/WebConsole/bin/ARM2_dbcontrol.dll
/src/WebConsole/bin/Common.dll
/src/WebConsole/bin/Newtonsoft.Json.dll
/src/WebConsole/bin/Newtonsoft.Json.xml

/src/DB/VbaControlCenterDB/VbaControlCenterDB.dbproj.schemaview
/src/Tests/Integration/IntegrationTests/obj/Debug/build.force

*.force

/src/Tests/Unit/ARM2_dbcontrol.UnitTests/Debug

/src/Tests/Unit/ARM2_dbcontrol.UnitTests/Release
