 <script type="text/javascript">
        $(document).ready(function() {
            if (($.browser.msie) && ($.browser.version <= '7.0')) {
                $("#oldbrowser").show();
            }   
        });
    </script>
<div id="oldbrowser" style="width: 100%;display: none; background: darkorange" align="center"><b>Сайт будет работать лучше в новом и современном браузере</b></div>