@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ShowNovellConnections2</title>
</head>
<body>
    <div>
        <h2>Список сетевых подключений сервера</h2>
        @foreach (string str in ViewBag.log)
        {
            <pre><span style="font-family:'Lucida Console'">@str</span></pre>
        }
    </div>
</body>
</html>
