@model System.Web.Mvc.HandleErrorInfo
           
<!DOCTYPE html>
<html>
<head>
    <title>Fatal Error!</title>
</head>
    <body>
        <h2>На сервере произошла ошибка, которую не удалость обработать!</h2>
    </body>
</html>