@model System.Data.Entity.DbSet<book_keeping.Models.Table_1>

@{
    ViewBag.Title = "Index";
}
<div id="border">
    <h3 style="margin-left: 120px">Бугалтерский Учет</h3>

    <div id="table_wrapper">
        <div id="header">
            <div id="head1">Потраченные деньги</div>
            <div id="head2">Категория</div>
            <div id="head3">Дата заннесения</div>
        </div>
        <div id="tbody">
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="td1">@item.SumOfMoneySpent</td>
                        <td class="td2">@item.Category</td>
                        <td class="td3">@item.Date</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("SaveExpense", "Home"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Внесите данные</h4>
                    </div>
                    <div class="modal-body" style="width: 200px">
                        <label for="spent">Затраченные деньги</label>
                        <input id="spent" name="SumOfMoneySpent" type="text" />
                        <label for="category">Выбирете категорию</label>
                        <select id="category" name="Category" style="width: 174px;height: 26px">
                            <option>food</option>
                            <option>bills</option>
                            <option>taxi</option>
                            <option>entertainment</option>
                        </select>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="ок" class="btn btn-primary">
                    </div>

                }

            </div>
        </div>
    </div>
    <a href="#myModal" role="button" style="margin-top: 10px; float: left; margin-right: 10px; margin-left: 120px" class="btn btn-info" data-toggle="modal">Добавить расходы</a>
    @Html.ActionLink("Суммарные расходы", "AggregateExpense", null, new { @class = "btn btn-success", style = "margin-top: 10px;" })

</div>




