<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ARM2DataBase"
         connectionString="packet size=4096;trusted_connection=true;data source=(local)\VIM_SQLEXP;persist security info=False;initial catalog=vbaControlCenterDB" />
  </connectionStrings>
</configuration>