<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrystalDataSetLib.Properties.Settings.ConnectionString"
            connectionString="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>