<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>172.20.66.54:2132</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>172.20.66.54</MSDeployServiceURL>
    <DeployIisAppPath>CCP-WebApi-Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CCP.DAL.DataModels.CCPEntitiesConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CCP.DAL.DataModels.CCPEntitiesConnection, CCP.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CCPEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=172.20.66.54;Initial Catalog=CCPDb-dev;Persist Security Info=True;User ID=hs4ki7pa04mhe821ls;Password=&quot;rlai82;w63g9skba9b&quot;;Application Name=EntityFramework" Name="Data Source=172.20.66.54;Initial Catalog=CCPDb-dev;Persist Security Info=True;User ID=hs4ki7pa04mhe821ls;Password=&quot;rlai82;w63g9skba9b&quot;;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.20.66.54;Initial Catalog=CCPDb-dev;Persist Security Info=True;User ID=hs4ki7pa04mhe821ls;Password=&quot;rlai82;w63g9skba9b&quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CCPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataModels.CCPDataModel.csdl|res://*/DataModels.CCPDataModel.ssdl|res://*/DataModels.CCPDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.20.66.54;initial catalog=CCPDb-dev;persist security info=True;user id=hs4ki7pa04mhe821ls;password=&quot;rlai82;w63g9skba9b&quot;;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CCP.DAL.DataModels.CCPEntitiesConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CCPConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.CCPModel.csdl|res://*/Entities.CCPModel.ssdl|res://*/Entities.CCPModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.20.66.54;initial catalog=CCPDb;persist security info=True;Users id=hs4ki7pa04mhe821ls;password="rlai82;w63g9skba9b";multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CCPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModels.CCPDataModel.csdl|res://*/DataModels.CCPDataModel.ssdl|res://*/DataModels.CCPDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=172.20.66.54;Initial Catalog=CCPDb-dev;Persist Security Info=True;User ID=hs4ki7pa04mhe821ls;Password="rlai82;w63g9skba9b";MultipleActiveResultSets=True;Application Name=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CCP.DAL.DataModels.CCPEntitiesConnection" />
  </ItemGroup>
</Project>