@model IEnumerable<Crystal.DomainModel.DefectsDistributionOperations>

@{
    Layout = null;
}
<script type="text/javascript">
 
    $(document).ready(function () {
        $("#defDistrOp").freezeTable({
            'autoHeight': false

        });
   
    });
</script>
<div>
    <table id ="defDistrOp" class="table table-bordered table-condensed" style="width: auto">
        <colgroup>
                <col style="width: 70px" />
                <col style="width: 150px" />
                <col style="width: 45px" />    
        </colgroup>
        <thead>
            <tr>
                <th>Номер операции</th>
                <th>Наименование операции</th>
                <th>Брак</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Nop">
                    <td>@item.Nop</td>
                    <td>@item.Naop</td>
                    <td>@Ajax.ActionLink(item.Nzp, "DefectsDistrData", new { nop = item.Nop, kmk = item.Kmk, kpr = ViewBag.Kpr }, new AjaxOptions { UpdateTargetId = "Otch_Defects_Data3", InsertionMode = InsertionMode.Replace, OnBegin = "load(3)", OnSuccess = "Success(3)", OnFailure = "AjaxError" }, new {@class="DefectsDistrOperations" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>