<div class="modal-header">
    <h4><label>{{msg}}</label></h4>
</div>
<div class="modal-footer">
    <div class="col-md-offset-8 col-md-4 form-inline">
        <button class="form-control btn btn-default col-md-1 control" ng-click="yes()">Yes</button>
        <button class="form-control btn btn-default col-md-1 control" ng-click="no()">No</button>
    </div>
</div>

