<div class="modal-header ">
    <h4><label>{{error}}</label></h4>
</div>
<div class="modal-footer">
    <div class="col-md-offset-8 col-md-4">
        <button class="form-control btn-default btn control" ng-click="OK()">OK</button>
    </div>
</div>
