<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT43_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP3\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT47_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP4\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT12_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT20_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP20\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="BMS_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="OdbcServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};DBQ=|DataDirectory|URP_DB.mdb" />
    <add name="SiteAccounts" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\URP_DB.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="EfDbContext" connectionString="Data source=|DataDirectory|\Tracking.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NovellConnection" value="C:\Iis_start.bat" />
    <add key="ConnectionTimeOutInMilliseconds" value="5000" />
    <add key="logDirectory" value="C:\_Logs_\OldCrystal"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/SiteEntry" timeout="56799" slidingExpiration="true" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <!--<membership defaultProvider="OdbcMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="OdbcMembershipProvider" type="Samples.AspNet.Membership.OdbcMembershipProvider, MrpOdbcProvider" connectionStringName="OdbcServices" enablePasswordRetrieval="true" enablePasswordReset="true" maxInvalidPasswordAttempts="7" passwordAttemptWindow="5" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" writeExceptionsToEventLog="true" applicationName="/"/>
      </providers>
    </membership>
    <profile defaultProvider="OdbcProfileProvider" automaticSaveEnabled="false">
      <providers>
        <add name="OdbcProfileProvider" type="Samples.AspNet.Profile.OdbcProfileProvider, MrpOdbcProvider" connectionStringName="OdbcServices" applicationName="/"/>
      </providers>
      <properties>
        <add name="FIO" type="String" />
        <add name="Unit" type="String" />
      </properties>
    </profile>

    <roleManager defaultProvider="OdbcRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="OdbcRoleProvider" type="Samples.AspNet.Roles.OdbcRoleProvider, MrpOdbcProvider" connectionStringName="OdbcServices" writeExceptionsToEventLog="true" applicationName="/"/>
      </providers>
    </roleManager>-->
    
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>


    <customErrors mode="Off" />
    
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <!--maxReceivedMessageSize="999999"
      
      closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      
      -->
      <basicHttpBinding> 
        <binding name="BasicHttpBinding_IData" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="99999999"  />
        <binding name="BasicHttpBinding_AuthenticationService" />
        <binding name="BasicHttpBinding_RoleService" />
        <binding name="BasicHttpBinding_IMRPProviderSvcWrap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6655/DataServices/Service1.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IData"
                contract="ServiceReference1.IData"
                name="BasicHttpBinding_IData" />
      <endpoint address="http://localhost:6655/DataServices/Service2.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IData" 
                contract="ServiceReference2.ITrackingDataManagers" 
                name="BasicHttpBinding_ITrackingDataManagers" />
      <endpoint address="http://localhost:6656/MRPServices/MyAuthenticationSvcWrap.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="AuthenticationService"
                name="BasicHttpBinding_AuthenticationService" />
      <endpoint address="http://localhost:6656/MRPServices/MyRoleSvcWrap.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_RoleService"
                contract="RoleService" name="BasicHttpBinding_RoleService" />
      <!--http://192.168.2.154:6655/MRPServices/MRPProviderSvcWrap.svc-->
      <endpoint address="http://localhost:6656/MRPServices/MRPProviderSvcWrap.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMRPProviderSvcWrap"
                contract="IMRPProviderSvcWrap"
                name="BasicHttpBinding_IMRPProviderSvcWrap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>