<div  class="gridStyle" ng-grid="gridOptions" style="width: 1123px;height: 300px">
</div>

<button ng-click="add()" type=button class="btn">Добавить</button>
<button ng-click="delete()" type=button class="btn">Удалить</button>
