<div >
    <div class="modal-header">
        <h3 class="modal-title">Hi model</h3>
    </div>
    <div class="modal-body">
        <ul>
            
            <li><label id="id">id</label> <input type="text" for="id" ng-model="modalnull.Id"></li>

                <li> <input type="text" ng-model="modalnull.Name"></li>
                DateGreate
                <li><input type="text" ng-model="modalnull.DateGreate"></li>
                @*DateChange
            <li> <input type="text" ng-model="modalnull.DateChange"></li>*@
                Description
                <li> <input type="text" ng-model="modalnull.Description"></li>

</ul>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

