<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  
  <variable name="LogsDirectory" value="C:\_Logs_\OldCrystal"/>
  
  <targets async="true">
    <target name="logfile" xsi:type="File"
                fileName="${LogsDirectory}/${shortdate}.log"
                layout="${date:format=dd/MM/yyyy;HH-mm-ss};${message}"
                archiveFileName="${LogsDirectory}/logs/log.{#}.log"
                archiveEvery="Month"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
    />
  </targets>

  <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>