@using System.Configuration
<!DOCTYPE html>
<html lang="en" ng-app="CCPApp">
    <head>
        <script>
            var apiPort = "@ConfigurationManager.AppSettings.Get("apiPort")"
        </script>
        <meta charset="utf-8" />
        <title>Contract Control Portal</title>
        @{
            Html.RenderPartial("ScriptsAndStylesPage");  
        }
    </head>
<body ng-controller="applicationCtrl" @*style="min-height: 780px; min-width: 1320px"*@>
        
    <div ng-controller="authCtrl">
        <div ng-controller="tabsCtrl" style="width: 100%; min-width: 1280px;">
            <div ng-show="!isLoginPage()">
                    @{
                        Html.RenderPartial("MenuPartial");
                    }
            </div>
                @RenderBody()
        </div>
    </div>

    <div ng-show="!isLoginPage()">
        @{
            Html.RenderPartial("FooterPartial");
        }
    </div>

</body>



</html>
