@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>О Crystall</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css"/>
        <!--[if IE]><style>
                        .AboutCrystallText {
                            padding-top: 10px;
                            padding-left: 20px;
                            width: 766px;
                        }
                    </style>
        <![endif]-->
        <style>
            body {
                background: #99C8FC ;
                min-width: 768px;
            }
        </style> 
    </head>
    <body>
        <div class="AboutCrystallText">
            <h2>Мониторинг кристального производства в сфере микроэлектроники</h2>
            <p>
                Целью данного проекта является обеспечение бесперебойного и универсального метода получения актуальной информации о состояния кристального производства в цехах.
                Основными задачами  системы мониторинга кристального производства является разработка ПО отображения движения партий пластин и  приборов по технологическому маршруту, которое обеспечит следующую информацию:
            </p>
            <ul>
                <li>информация о партиях пластин и приборов, находящихся в техпроцессе на текущий момент времени: тип прибора, дата формирования партии, текущая операция, дата и время поступления на текущую операцию, количество пластин в партии;</li>
                <li> информация  по всем партиям, находящимся в техпроцессе в текущий момент времени на конкретной операции техпроцесса;</li>
                <li> история движения партии по технологическому маршруту (сопроводительный лист партии): выполненные технологические операции маршрута с отражением количества годных и бракованных пластин,  времени поступления партии на операцию маршрута, времени начала и окончания обработки партии на операции, значений технологических параметров партии, фамилии оператора, выполнявшего технологическую операцию;</li>
                <li> информация о величине текущего НЗП для каждого типа изделий или группы изделий с одинаковым маршрутом;</li>
                <li>	информация о ходе производства по конкретному типу изделий на конкретных операциях технологического маршрута: поступление, сдача, брак, % выхода годных с начала суток и с начала месяца, НЗП фактическое;</li>
                <li>	информация о текущем НЗП и передаче пластин на операциях технологического маршрута с начала суток и месяца по группе изделий с одинаковым маршрутом изготовления;</li>
                <li>	информация о фактическом % выхода годных по операциям технологического маршрута для любых типов изделий;</li>
                <li>	информация о браке на операции;</li>
                <li>	маршрут движения партий;</li>
                <li>	цикл изготовления прибора партии.</li>
            </ul>

            <p>На текущий момент существует модуль отчётов в программе для MSDOS, но:</p>
            <ul>
                <li>	Вся информация представлена в текстовом (ненаглядном) виде</li>
                <li>	Для обработки данных накопленных OLTP-системой необходимо, чтобы рабочая станция обладала высокими характеристиками производительности и была подключена к файл-серверу по высокоскоростному каналу</li>
                <li>	Необходимость использовать для расчета IBM-совместимый компьютер</li>
            </ul>
            <div>@Html.ActionLink("Назад","SiteEntry")</div>
        </div>
    </body>
</html>

