* {
    margin: 0;
    padding: 0;
    float: none;
}

.Sidemenu, .navbar, .noprint { display: none; }

.Print-Content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

 @media print { /* Стиль для печати */
    body {
     font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
    }
    h1, h2, h3, p {
     color: #000; /* Черный цвет текста */
    }
   }
   @page {
    margin: 1cm; /* Отступы для страницы */ 
   }
   
   /*
   @page :left {
    margin: 1cm 3cm 1cm 1.5cm; /* Отступы для всех левых страниц */ /*
   }
   @page :right {
    margin: 1cm 3cm 1cm 1.5cm; /* Отступы для всех правых страниц */ /*
   }*/