<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>http://192.168.1.52</MSDeployServiceURL>
    <DeployIisAppPath>/WCFService/DataServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Администратор</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EfDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EFContext.EfDbContext, EfContext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PLANT43_ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP3\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PLANT43_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP3\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PLANT47_ConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP4\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PLANT47_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP4\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PLANT12_ConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PLANT12_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PLANT20_ConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP20\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PLANT20_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP20\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BMS_ConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BMS_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OdbcServices" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Driver={Microsoft Access Driver (*.mdb)};DBQ=|DataDirectory|URP_DB.mdb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OdbcServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Driver={Microsoft Access Driver (*.mdb)};DBQ=|DataDirectory|URP_DB.mdb" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiteAccounts" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\URP_DB.mdb;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SiteAccounts_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\URP_DB.mdb;Persist Security Info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BMS_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EfDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OdbcServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PLANT12_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PLANT20_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PLANT43_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PLANT47_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiteAccounts-Web.config Connection String" />
  </ItemGroup>
</Project>