<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. в статье http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <connectionStrings>
    <add name="PLANT43_ConnectionString"
      connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP3\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PLANT47_ConnectionString"
      connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP4\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PLANT12_ConnectionString"
      connectionString="Provider=VFPOLEDB.1;Data Source=r:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PLANT20_ConnectionString"
      connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP20\DBF;Mode=Read;Collating Sequence=RUSSIAN;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>