<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=O:\SHOP\SHOP43\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT43_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP3\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT47_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP4\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT12_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="PLANT20_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=s:\DATA\SHOP20\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="BMS_ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=R:\SHOP\DBF;Mode=Read;Collating Sequence=RUSSIAN;" providerName="System.Data.OleDb" />
    <add name="OdbcServices" connectionString="Driver={Microsoft Access Driver (*.mdb)};DBQ=|DataDirectory|URP_DB.mdb" />
    <add name="SiteAccounts" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\URP_DB.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="EfDbContext" connectionString="Data source=|DataDirectory|\Tracking.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="NovellConnection" value="C:\Iis_start.bat" />
    <add key="ConnectionTimeOutInMilliseconds" value="120000" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы избежать раскрытия сведений о метаданных, присвойте приведенному ниже параметру значение false и удалите конечную точку метаданных перед развертыванием -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      logMessagesAtServiceLevel="false"
                      logMessagesAtTransportLevel="true"
                      logMalformedMessages="true"
                      maxMessagesToLog="5000"
                      maxSizeOfMessageToLog="999999">
      </messageLogging>
    </diagnostics>-->

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>


  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4" />
    <sources>
      <source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"></add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"></add>
        </listeners>
      </source>

      <source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"></add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
      </add>
    </sharedListeners>
  </system.diagnostics>-->

</configuration>