<?xml version="1.0"?>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
         connectionString="packet size=4096;user id=sa;password=1;data source=192.168.234.53;persist security info=False;initial catalog=vbaUsersMembership"/>
   <add name="ARM2DataBase"
         connectionString="packet size=4096;user id=sa;password=1;data source=192.168.234.53;persist security info=False;initial catalog=vbaControlCenterDB" />
  </connectionStrings>
