<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IData" />
                <binding name="BasicHttpBinding_ITrackingDataManagers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6655/DataServices/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData"
                contract="ServiceReference1.IData" name="BasicHttpBinding_IData" />
            <endpoint address="http://localhost:6655/DataServices/Service2.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrackingDataManagers"
                contract="ServiceReference2.ITrackingDataManagers" name="BasicHttpBinding_ITrackingDataManagers" />
        </client>
    </system.serviceModel>
</configuration>