<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6655/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IData" contract="ServiceReference1.IData"
                name="BasicHttpBinding_IData" />
        </client>
    </system.serviceModel>
</configuration>