<?xml version="1.0"?>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
         connectionString="packet size=4096;data source=192.168.234.116;persist security info=False;initial catalog=VbaUsersMembership;user id=sa;password=1234qwer!;"/>
   <add name="ARM2DataBase"
         connectionString="packet size=4096;data source=192.168.234.116;persist security info=False;initial catalog=vbaControlCenterDB;user id=sa;password=1234qwer!;" />
  </connectionStrings>
