@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FindBadDates</title>
</head>
<body>
    <div>
        @foreach (string item in ViewBag.res)
        {
            <span>@item</span><br />   
        }
    </div>
</body>
</html>
