<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AuthenticationService" />
        <binding name="BasicHttpBinding_RoleService" />
        <binding name="BasicHttpBinding_IMRPProviderSvcWrap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.54:8088/MRPService/MyAuthenticationSvcWrap.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="AuthenticationService"
                name="BasicHttpBinding_AuthenticationService" />
      <endpoint address="http://192.168.1.54:8088/MRPService/MyRoleSvcWrap.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_RoleService"
                contract="RoleService" name="BasicHttpBinding_RoleService" />
      <endpoint address="http://192.168.1.54:8088/MRPService/MRPProviderSvcWrap.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMRPProviderSvcWrap"
                contract="IMRPProviderSvcWrap"
                name="BasicHttpBinding_IMRPProviderSvcWrap" />
    </client>
  </system.serviceModel>
</configuration>